<div class="nmc-main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Ursatz 0.0.2</h1>
      <p>Share your music.</p>
      <p>
        <%= link_to 'Learn More', '#', class: 'btn btn-success btn-lg' %>
      </p>
    </div>
  </div>
  
  <div class="container">
    <br />
    <div class="row threes">
      <div class="col-lg-4">
        <h2>Works</h2>
        <p>
          All your works neatly organized in one place.
        </p>
        <%= link_to "#{'See all works'} &rarr;".html_safe, works_path, class: 'btn btn-info-outline' %>
      </div>
      <div class="col-lg-4">
        <h2>Performances</h2>
        <p>
          All your performances neatly organized in one place.
        </p>
        <%= link_to "#{'See all performances'} &rarr;".html_safe, performances_path, class: 'btn btn-info-outline' %>
      </div>
      <div class+"col-lg-4">
        <h2>Share your music</h2>
        <p>
          Easily follow new composers and performers, and share your own music with everyone else.
          <%= link_to "#{'Find out more'} &rarr;".html_safe, '#', class: 'btn btn-info-outline' %>
        </p>
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          One place to showcase your music. 
          <span class="text-muted">No more frustrating experiences trying to share your music online</span>
        </h2>
        <p class="lead">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
          voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati 
          cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, 
          id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
          quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid center-block">
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">
          Unified application process.
          <span class="text-muted">Simply send a link to your Ursatz profile for your next music festival application</span>
        </h2>
        <p class="lead">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
          voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati 
          cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, 
          id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
          Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
          quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.         
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <p>put an image here</p>
      </div>
    </div>
  </div>
</div>