<div class="nmc-main">
  <div class="jumbotron jumbo">
    <div class="container">
      <h1 class="display-3">Ursatz 0.0.2</h1>
      <p>Share your music.</p>
      <p>
        <%= link_to 'Learn More', '#', class: 'btn btn-success btn-lg' %>
      </p>
    </div>
  </div>
  
  <div class="container">
    <br />
    <div class="row threes">
      <div class="col-lg-4">
        <h2>Works</h2>
        <p>
          All your finished compositions, organized and clearly presented.
        </p>
        <%= link_to "#{'View some of the latest works'} &rarr;".html_safe, works_path, class: 'btn btn-info-outline' %>
      </div>
      <div class="col-lg-4">
        <h2>Performances</h2>
        <p>
          All your performances in various formats, organized and clearly presented.
        </p>
        <%= link_to "#{'View some of the latest performances'} &rarr;".html_safe, performances_path, class: 'btn btn-info-outline' %>
      </div>
      <div class+"col-lg-4">
        <h2>Discover and Share</h2>
        <p>
          Easily follow new composers and performers, and share your own music with everyone else.
        </p>
        <%= link_to "#{'Find out more'} &rarr;".html_safe, '#', class: 'btn btn-info-outline' %>
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          One place to showcase your music. 
          <span class="text-muted">No more frustrating experiences trying to showcase your music online</span>
        </h2>
        <p class="lead">
          With Ursatz, easily transfer your portfolio to the web in a clean and readable format without having to 
          worry about minor details. 
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid center-block">
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">
          All your works and performances in one place.
          <span class="text-muted">Simply send a link to your Ursatz profile for your next music festival application</span>
        </h2>
        <p class="lead">
          With Ursatz, having all your works and performances neatly organized in one place makes it even easier to share
          your portfolio online.
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <p>put an image here</p>
      </div>
    </div>
  </div>
</div>