default: &default
      adapter: postgresql
      encoding: unicode
      pool: 5
      username: username
      password: password
      host:     <%= ENV['IP'] %>

development:
  <<: *default
  database: ursatz_development

test:
  <<: *default
  database: ursatz_test

production:
  <<: *default
  database: ursatz_production
