// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.featurette-divider {
    margin: 5rem 0;
}

.nmc-main {
    background: white;
}

.threes {
  text-align: center;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  display: block;
}