<h1 class="text-xs-center">Performances</h1>
<% @performances.each do |performance| %>
  <div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card card-block">
      <h3 class="card-title"><%= performance.title %></h3>
      <% if performance.user.present? %>
        <small><%= performance.user.email %></small>
      <% end %>
    </div>
  </div>
<% end %>